<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta and links start -->
    <%- include('./onestep/meta & links')-%>

    <!-- meta and links end -->
  </head>
  <body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar">
      <!-- Start Leftbar -->
      <%- include('./onestep/Leftbar')-%>
      <!-- End Leftbar -->

      <!-- Start Rightbar -->
      <div class="rightbar">
        <!-- Start Topbar -->
        <%- include('./onestep/Topbar')-%>
        <!-- End Topbar -->

        <!-- Start Breadcrumbbar -->
        <div class="breadcrumbbar">
          <div class="row align-items-center">
            <div class="col-md-12 col-lg-8">
              <div class="breadcrumb-list">
                <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                  <li class="breadcrumb-item">
                    <a href="/coustomer/list">Customer</a>
                  </li>
                  <li class="breadcrumb-item active" aria-current="page">
                    Customer Detail
                  </li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- End Breadcrumbbar -->

        <!-- Start Contentbar -->
        <div class="contentbar">
          <!-- Start row -->
          <div class="row">
            <!-- Start col -->
            <div class="col-lg-12">
              <div class="card m-b-30">
                <div class="card-header">
                  <div class="card m-b-5 d-lg-inline">
                    <h5>Customer Name: <%=data.cousName%></h5>
                    <!-- 
                                            <h6><i class="dripicons-calendar"></i> Joined at : 28-05-2020</h6> -->
                  </div>
                  <div class="nav">
                    <ul class="nav nav-tabs page-header-tabs shadow-sm">
                      <li class="nav-item">
                        <a
                          class="nav-link active"
                          href="/coustomer/views/<%=data._id%>"
                          >OrderList</a
                        >
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link"
                          href="/coustomer/viewtransection/<%=data._id%>"
                          >Transaction list</a
                        >
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            <!-- End col -->
          </div>
          <!-- End row -->

          <!-- Start row -->
          <div class="row">
            <!-- Start col -->
            <div class="col-lg-8">
              <div class="card m-b-10">
                <div class="card-header">
                  <h5>Order Details</h5>
                </div>

                <div class="card-body">
                  <div class="fixtable">
                    <div class="table-responsive">
                      <table
                        id="AccDataTable"
                        class="display table table-bordered"
                      >
                        <thead>
                          <tr>
                            <th>Sr No</th>
                            <th>ORDER ID</th>
                            <th>TOTAL</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="align-items-center">
                          <% var i = 1 %> <% order.forEach((order)=>{ %>
                          <tr>
                            <td><%=i%></td>
                            <td><%=order.orderId%></td>
                            <td><%=footer.Currency%> <%=order.Amount%></td>
                            <td>
                              <button
                                class="btn btn-primary-rgba"
                                id="coustomer_order_invoices"
                                value="<%=order._id%>"
                              >
                                <i class="dripicons-download mr-2"> invoice</i>
                              </button>
                            </td>
                          </tr>

                          <% i++ %> <% }) %>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card m-b-10 m-l-30">
                <div class="card-header">
                  <h5>Customer</h5>
                </div>
                <div class="card-body">
                  <div class="d-flex align-items-center m-b-30">
                    <div class="m-l-5">
                      <img
                        src="/uploads/resized/<%=data.cousImage%>"
                        alt="img"
                        class="rounded-circle"
                        width="100px"
                      />
                    </div>
                    <div>
                      <span class="text-body align-content-center m-l-30">
                        <%=data.cousName%></span
                      >
                    </div>
                  </div>
                  <hr />
                  <div class="d-flex align-items-center m-b-25">
                    <div>
                      <i
                        class="dripicons-basket p-2 rounded text-success-gradient"
                      ></i>
                    </div>
                    <div class="text-body align-content-center m-l-20">
                      <span> <%= data.order.length%> Orders</span>
                    </div>
                  </div>
                  <div class="d-flex align-items-center m-b-25">
                    <div>
                      <i
                        class="dripicons-wallet p-1 rounded text-success-gradient"
                      ></i>
                    </div>
                    <div class="text-body align-content-center m-l-20">
                      <span> <%=data.Balance%> <%=footer.Currency%></span>
                    </div>
                  </div>
                  <hr />
                  <div>
                    <h5>Contact Info</h5>
                  </div>
                  <ul class="list-unstyled">
                    <li class="m-b-5">
                      <i
                        class="dripicons-phone m-r-20 p-1 rounded text-success-gradient"
                      ></i>
                      <%=data.cousMobile%>
                    </li>
                    <li class="m-b-5">
                      <i
                        class="dripicons-mail m-r-20 p-1 rounded text-success-gradient"
                      ></i>
                      <%=data.cousEmail%>
                    </li>
                  </ul>
                  <hr />
                  <div>
                    <h5>Addresses</h5>
                  </div>
                  <ul class="list-unstyled">
                    <li lass="m-b-5">Address: <%=data.cousAddres%></li>
                    <li lass="m-b-5">state: <%=data.cousState%></li>
                    <li lass="m-b-5">Pin Code: <%=data.cousPINcode%></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- End Contentbar -->

        <!-- Start Footerbar -->
        <%- include('./onestep/footerbar')-%>

        <!-- end Footerbar -->
        <!-- invoice model start -->

        <div
          class="modal fade"
          id="modal"
          tabindex="-1"
          role="dialog"
          aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true"
        >
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header border-radius-fix">
                <div class="col-12">
                  <p class="mode-title text-white">Print Invoice</p>
                  <center>
                    <button
                      class="btn btn-info m-r-30 p-2 btn-lg border-rounded"
                      id="pri_invo"
                    >
                      Print Invoice
                    </button>
                    <a
                      href="javascript:void(0)"
                      class="btn btn-danger text-white p-2 btn-lg"
                      data-dismiss="modal"
                      >Back</a
                    >
                  </center>
                </div>
              </div>
              <div class="modal-body m-t-0">
                <div id="finalinvoice">
                  <div id="print_invoice">
                    <div class="col-12 partition">
                      <center>
                        <h3 class="font-weight-bolder">
                          <%= footer.ShopName %>
                        </h3>
                        <h5><%= footer.Shopaddress %></h5>
                        <p>
                          <span class="font-weight-bold font-14">Phone :</span>
                          <%= footer.Shopphone %>
                        </p>
                        <p>
                          <span class="font-weight-bold font-14">Email :</span
                          ><%= footer.Shopemail %>
                        </p>
                        <p>
                          <span class="font-weight-bold font-14"
                            >VAT Registration Number :</span
                          >
                          <%= footer.VAT %>
                        </p>
                      </center>
                    </div>
                    <div id="invoicemodal"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- invoice model End -->
      </div>
      <!-- Start Rightbar -->
    </div>
    <!-- end Containerbar -->
    <script>
      $(document).on("click", "#coustomer_order_invoices", function () {
        var id = this.value;
        var baseUrl = window.location.origin;

        $.ajax({
          type: "get",
          url: baseUrl + "/coustomer/invoice/" + id,
          dataType: "JSON",
          success: function (res) {
            // Handle Currency Placement
            console.log(res.footer);

            var placement_left = "";
            var placement_right = res.footer.Currency;

            if (res.Currency_placement === 1) {
              placement_left = " ";
              placement_right = res.footer.Currency;
            } else {
              placement_left = res.footer.Currency;
              placement_right = " ";
            }

            // Construct the modal content dynamically
            var invoiceContent = `
                         <hr>
                                                    <div class="row d-flex justify-content-around">
                                                        <div class="col-4">
                                                            <p><span class="font-weight-bold">Order Id:</span> ${
                                                              res.data.orderId
                                                            }</p>
                                                        </div>
                                                        <div class="col-4">
                                                            <p>${
                                                              res.data.createdAt.split(
                                                                "T"
                                                              )[0]
                                                            }</p>
                                                        </div>
                                                    </div>
                                                    <hr>
                                                    <div class="table-responsive">
                                                        <table id="default-datatable" class="display table">
                                                            <thead>
                                                                <tr>
                                                                    <th>Sr No</th>
                                                                    <th>Item</th>
                                                                    <th>QTY</th>
                                                                    <th>Price</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody id="item" class="align-items-center">
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <hr>
                                                    <div class="row justify-content-end">
                                                        <table class="col-6 table table-borderless text-right">
                                                            <tbody>
                                                                <tr>
                                                                    <td>Item Price :</td>
                                                                    <td class="text-left">${placement_left} ${
              res.data.SubTotal - res.data.Productdiscount
            } ${placement_right}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Tax:</td>
                                                                    <td class="text-left">${placement_left} ${
              res.data.Tax
            } ${placement_right}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Coupon :</td>
                                                                    <td class="text-left">${placement_left} ${
              res.data.Coupondiscount
            } ${placement_right}</td>
                                                                </tr>
                                                                <tr>
                                                                    <td class="font-weight-bold font-18">Total :</td>
                                                                    <td class="text-left">${placement_left} ${
              res.data.Amount
            } ${placement_right}</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <hr>
                                                    <div class="row">
                                                        <p class="m-l-15">Paid By : ${
                                                          res.data.paymentMethod
                                                            .type
                                                        }</p>
                                                    </div>
                                                    <hr>
                                                    <center>
                                                        <h3 class="font-18">******** Thank You ********</h3>
                                                    </center>
                                                    <hr>
                    `;

            // Inject the generated HTML into the modal
            $("#invoicemodal").html(invoiceContent);

            // Loop through items and append to the table
            $.each(res.data.item, function (index, value) {
              $("#item").append(`
                            <tr>
                                <td>${index + 1}</td>
                                <td>
                                    <h6>${value.productName}</h6>
                                    <p>Price: ${placement_left} ${value.productPrice} ${placement_right}</p>
                                    <p>Discount: ${placement_left} ${value.discount} ${placement_right}</p>
                                </td>
                                <td>${value.productCount}</td>
                                <td>${placement_left} ${value.productPrice * value.productCount - value.discount * value.productCount} ${placement_right}</td>
                            </tr>
                        `);
            });

            // Show the modal
            $("#modal").modal("show");
          },
          error: function (err) {
            console.error("Error fetching invoice data: ", err);
          },
        });
      });

      // Handle print invoice functionality
      $(document).on("click", "#pri_invo", function () {
        var printContents = document.getElementById("finalinvoice").innerHTML;
        var originalContents = document.body.innerHTML;

        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents; // Restore the original content
        $("#modal").modal("hide"); // Hide the modal after printing
      });
    </script>
    <!-- start Toastr -->
    <%- include('./onestep/toastr')-%>
    <!-- End Toastr -->

    <!-- start JS -->
    <%- include('./onestep/script')-%>
    <!-- end JS -->
  </body>
</html>
