<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta and links start -->
    <%- include('./onestep/meta & links')-%> 
    
    
    <!-- meta and links end -->
     
</head>
<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar">
            <!-- Start Leftbar -->
            <%- include('./onestep/Leftbar')-%> 
            <!-- End Leftbar -->

            <!-- Start Rightbar -->
            <div class="rightbar">
                        <!-- Start Topbar -->
                        <%- include('./onestep/Topbar')-%>
                        <!-- End Topbar -->


                        <!-- Start Breadcrumbbar -->                    
                        <div class="breadcrumbbar">
                            <div class="row align-items-center">
                                <div class="col-md-12 col-lg-8">
                                    <h4 class="page-title">SHOP SETUP</h4>
                                    <div class="breadcrumb-list">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
        
                                            <li class="breadcrumb-item active" aria-current="page">Shop Setup</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>          
                        </div>
                        <!-- End Breadcrumbbar -->


                        <!-- Start Contentbar -->    
                        <div class="contentbar">  
                             <!-- Start row -->
                             <div class="row">
                                <!-- Start col -->
                                <div class="col-lg-12">
                                    <div class="card m-b-0">
                                        
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12 ">
                                                    <form method="post" action="/wallet/setting/<%=dataid%>" enctype="multipart/form-data" class="needs-validation" >
                                                        <div class="row">
                                                            <div class="col-6 ">
                                                                <div class="form-group">
                                                                    <label for="ShopName">Shop name</label>
                                                                    <input type="text" class="form-control border-secondary" id="ShopName" name="ShopName" value="<%=data?.ShopName%>" required>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="Shopphone">Shop phone </label>
                                                                    <input type="number" class="form-control border-secondary" id="Shopphone" name="Shopphone" value="<%=data?.Shopphone%>" required>
                                                                </div>

                                                                
                                                                
                                                                <div class="form-group">
                                                                    <label for="VAT">VAT Registration No </label>
                                                                    <input type="text" class="form-control border-secondary" id="VAT" name="VAT" value="<%=data?.VAT%>" required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Country">Country</label>
                                                                    <input type="text" class="form-control border-secondary" id="Country" name="Country" value="<%=data?.Country%>" required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Currency">Currency</label>
                                                                    <div class="input-group">
                                                                   <input type="text" name="Currency" id="Currency" value="<%=data?.Currency%>"  class="form-control border-secondary">
                                                                      <!-- Hint input -->
                                                                    
                                                                    </div>
                                                                  </div>
                                                                <div class="form-group">
                                                                    <label for="Timezone">Time zone </label>
                                                                     
                                                                    <input type="text" name="Timezone" id="Timezone" required value="<%=data?.Timezone%>" class="form-control border-secondary">
                                                                </div>
                                                                

                                                            </div>
                                                            <div class="col-6">
                                                                <div class="form-group">
                                                                    <label for="Shopemail">Shop email </label>
                                                                    <input type="email" class="form-control border-secondary" id="Shopemail" name="Shopemail" value="<%=data?.Shopemail%>" required>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="Shopaddress">Shop address </label>
                                                                    <input type="text-area" class="form-control border-secondary" id="Shopaddress" name="Shopaddress" value="<%=data?.Shopaddress%>" required>
                                                                </div>
   
                                                                <div class="form-group">
                                                                    <label for="Footer">Footer text</label>
                                                                    <input type="text" class="form-control border-secondary" id="Footer" name="Footer" value="<%=data?.Footer%>" required>
                                                                </div>

                                                                
                                                                <div class="form-group">
                                                                    <label for="Logo">Logo</label>
                                                                    <input type="file" class="form-control border-secondary" id="Logo" name="Logo" accept='image/*' onchange="document.getElementById('catdemoimg').src = window.URL.createObjectURL(this.files[0])" >
                                                                </div>
                                                                <div class="img align-items-center ">
                                                                
                                                                    <div class="col-lg-12  m-t-50">
                                                                        <center>
                                                                        <img id="catdemoimg" alt="your image" style="width: auto;"  src="<%= data?.Logo ? `/uploads/resized/${data.Logo}` : '../images/one.png' %>" />
                                                                        <h5>Image Preview </h5>
                                                                        </center>
                                                                        
                                                                    </div>
                                                                </div>   
                                                            </div>  
                                                        </div>
                                                        <div class="form-group col-4 d-grid gap-2 text-center">
                                                            <button class="btn btn-success my-2 btn-sm setupdate d-none col-6" type="submit" value="submit"><i class="dripicons-checkmark"></i> Save</button>
                                                        </div>
                                                    </form>
                                                </div> 
                                            </div>
                                        </div>
                                    </div>            
                                </div>
                                <!-- End col --> 
                            </div>
                            <!-- End row -->  
                           
                        </div>
                        <!-- End Contentbar -->
                       


                        <!-- Start Footerbar -->
                        <%- include('./onestep/footerbar')-%>
                        <!-- end Footerbar -->
            </div>
            <!-- Start Rightbar -->  
           
    </div>
    <!-- end Containerbar -->
   
    <!-- start Toastr -->
    <%- include('./onestep/toastr')-%>
    <!-- End Toastr -->
    
    <!-- start JS -->
    <%- include('./onestep/script')-%>
    <!-- end JS -->
  
</body>
</html>