<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta and links start -->
    <%- include('./onestep/meta & links')-%> 
    <link href="/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    
    
    
    <!-- meta and links end -->
     
</head>
<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar">
            <!-- Start Leftbar -->
            <%- include('./onestep/Leftbar')-%> 
            <!-- End Leftbar -->

            <!-- Start Rightbar -->
            <div class="rightbar">
                        <!-- Start Topbar -->
                        <%- include('./onestep/Topbar')-%>
                        <!-- End Topbar -->
                        <!-- Start Contentbar -->    
                        <div class="contentbar"> 
                             <!--start row start -->
                             <div class="row m-t-50">
                                <!-- product area start -->
                                <div class="col-lg-7 col-md-12" >
                                    <div class="card m-b-30">
                                        <!-- card header start -->
                                        <div class="card-header">
                                            <h3 class="w-100 text-center text-dark-gradient">Product List</h3>
                                            <div class="row justify-content-between d-flex w-100">
                                                <div class="col-5">
                                                    <div class="searchbar">
                                                        <form>
                                                            <div class="input-group border-search p-1 mb-3 bg-body rounded">
                                                              <input type="text" class="form-control" id="srcpro" name="search" placeholder="Search by name and code" aria-label="Search" aria-describedby="button-addon2" autocomplete="off">
                                                              <div class="input-group-append">
                                                                <button class="btn"  id="button-addon2"><i class="fa-solid fa-magnifying-glass"></i></button>
                                                              </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div class="col-5">
                                                    <div class="searchbar">
                                                        <form>
                                                            <div class="input-group border-search p-1 mb-3 bg-body rounded">
                                                             <select name="poscat" id="poscat" class="form-control" required aria-placeholder="search by category">
                                                                
                                                                <option value="all">All category</option>
                                                                <% catlist?.forEach(function(data){ %>
                                                                    <option value="<%=data.catName%>" <%= catname == data.catName ? 'selected' : '' %>> <%=data?.catName%> </option>
                                                                <% }) %>
                                                             </select>
                                                              
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            

                                        </div>
                                        <!-- card header End-->
                                        <!-- card body start -->
                                        <div class="card-body"style="overflow-y: scroll; max-height: 715px;">
                                            

                                                <div class="row d-flex " id="product_list">

                                                    <% list?.forEach(function(pro){ %>
                                                    <div class="col-xl-4 col-md-6 col-sm-12 m-b-20 p-2">
                                                        <form id="<%=pro._id%>" class="mb-2" >
                                                            
                                                            <div class="media">                                    
                                                                <img class="align-self-center rounded-circle" alt="your image" width="70px" height="70px" src="/uploads/resized/<%=pro.productImage%>"/>
                                                                <div class="media-body ml-3">
                                                                    <h6 class="mb-2"><%=pro.Name%></h6>
                                                                    <p>code : <%=pro.proCode%></p>
                                                                     <% if(pro.discountType === "percent" ) {%>
                                                                        <p class="font-15"> <span><%=footer?.Currency%> <%=pro.sellingPrice -(pro.sellingPrice * pro.discount /100).toFixed(1) %> </span>&nbsp;<span><small><del> <%=footer?.Currency%><%=pro.sellingPrice%> </del></small></span> </p>
                                                                        <%}else{ %>
                                                                    <p class="font-15"> <span><%=footer?.Currency%> <%=pro.sellingPrice - pro.discount%> </span>&nbsp;<span><small><del> <%=footer?.Currency%><%=pro.sellingPrice%> </del></small></span> </p>
                                                                    <% } %>
                                                                    <button class="btn btn-round btn-primary-rgba" data-id="<%=pro._id%>" id="add_prod"><i class="dripicons-basket  font-15" type="submit" value="submit"></i></button>                                                           
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <% }) %>
                                                </div>  
                                        </div>
                                        <!-- card body end -->
                                    </div>
                                </div>
                                 <!-- product area end -->
                                 <!-- cart area start -->
                                <div class="col-lg-5 col-md-12" >
                                    <div class="card m-b-30">
                                        <!-- card header start -->
                                        <div class="card-header  m-b-30">
                                            <h3 class="w-100 text-center text-dark-gradient">Cart area</h3>
                                            <div class="row justify-content-between d-flex w-100">
                                                
                                                <div class="col-6">
                                                     
                                                    <div class="cosutomer">
                                                        <div class="position-relative" style="max-width: 600px;">
                                                            <form id="customer-form">
                                                                <div class="position-relative" style="max-width: 600px;">
                                                                  <div class="input-group border-search p-1 mb-3 bg-body rounded">
                                                                    <input 
                                                                      id="search-input" 
                                                                      class="form-control me-2" 
                                                                      type="search" 
                                                                      oninput="search()" 
                                                                      onclick="showList()" 
                                                                      placeholder="Search Customer" 
                                                                      name="customer"
                                                                      aria-placeholder="Search by category"
                                                                      value="<%=coustomerName%>"
                                                                    >
                                                                    <!-- Hidden field to store selected customer ID -->
                                                                    <input type="hidden" id="cust" name="customerId">
                                                                  </div>
                                                            
                                                                  <ul class="list-group rounded bg-white col-9 d-none position-absolute top-100 start-0 end-0 z-3 overflow-auto" 
                                                                      id="results-list"  
                                                                      style="z-index: 10; max-height: 350px; overflow-y: auto; cursor: pointer;">
                                                                    <% coust?.forEach(function(data){ %>
                                                                      
                                                                      <li class="list-group-item" value="<%=data._id%>"><%=data.cousName%></li>
                                                                       
                                                                    <%  }) %>
                                                                  </ul>
                                                                </div>
                                                              </form>
                                                            
                                                          </div>
                                                        
                                                    </div>
                                                </div>


                                                <div class="col-3 p-1 mb-3 bg-body rounded text-center">
                                                    <a href="/user/delet"><button class="btn btn-rounded btn-primary ">New Order</button></a>
                                                </div>

                                                <div class="col-3 p-1 mb-3 bg-body rounded text-center">
                                                    <a href="/coustomer/add"><button class="btn btn-rounded btn-dark">Add Customer <i class="feather icon-plus-circle ml-2"></i></button></a>
                                                </div>



                                               
                                            </div>
                                            <!-- card header end -->
                                            <!-- card body start -->
                                            <div class="card-body">
                                                <div class="row justify-content-around ">
                                                    <div class="col-4 text-center">
                                                        <h5>
                                                            Cart item
                                                        </h5>
                                                    </div>
                                                    <div class="col-4 text-center">
                                                        <h5 id="curr_cusmer" > Current Customer <br><span class="text-lg-center text-info"><%=coustomerName%></span></h5>
                                                    </div>
                                                </div>  

                                                <div class="row justify-content-center">
                                                    <div class="col-lg-12 col-xl-12">
                                                        
                                                            <div class="cart-head">
                                                                <div class="cart_item m-b-20">
                                                                    <div class="table-responsive">
                                                                        <table class="table table-bordered">
                                                                            <thead class="thead-dark">
                                                                                <tr class="text-center">
                                                                                   
                                                                                                                                  
                                                                                    
                                                                                    <th scope="col">Product</th>
                                                                                    <th class="text-left" scope="col">Qty</th>
                                                                                    <th scope="col">Price</th>
                                                                                    <th scope="col">Discount</th>
                                                                                    <th scope="col" class="text-right">Tax</th>
                                                                                    <th scope="col">Total</th>
                                                                                    <th scope="col">Action</th> 
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody id="cart_item">
                                                                                <% if(cart){ %>
                                                                                    <% cart?.item.forEach(function(value, index){ %>
                                                                                        <tr class="text-center" > 
                                                                                            <td><%=value?.productName%></td>
                                                                                            <td>
                                                                                                <div class="form-group mb-0">
                                                                                                    <input type="number" class="form-control cart-qty" name="cartQty1" id="cartQty1" min="1" value="<%=value.productCount%>" data-name="<%=value.productName%>" data-id="<%=value._id%>">     
                                                                                                </div>
                                                                                            </td>
                                                                                            <td><%=value.productPrice%></td>
                                                                                            <td><%=value.discount%></td>
                                                                                            <td><%=value.tax%></td>
                                                                                            <td><%=value.total%></td>
                                                                                            <td><button  type="button" class="btn btn-round btn-danger-rgba" id="del_cart_item" value="<%=value._id%>"><i class="feather icon-trash-2"></i></button></td>
                                                                                        </tr>
    
                                                                                    <% }) %>
                                                                                <% } %>
                                                                                  
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="cart-body">
                                                                <div class="row">
                                                                    <div class="col-md-12 order-2 order-lg-1 col-lg-5 col-xl-6">
                                                                        <div class="order-note">
                                                                            <form class="needs-validation">
                                                                                <div class="form-group ">
                                                                                        <% if (!cart || cart.Coupondiscount === 0) { %>
                                                                                    <div class="input-group" id="formcopupons">

                                                                                          <form  >
                                                                                            <input type="text" class="form-control" placeholder="Coupon Code" id="coupon" name="code" aria-label="Search" aria-describedby="button-addonTags" required>
                                                                                            <div class="input-group-append">
                                                                                              <button class="input-group-text btn-secondary-rgba" onclick="" type="submit" id="button-addonTags">
                                                                                                <i class="feather icon-save mr-2"></i> Apply
                                                                                              </button>
                                                                                            </div>
                                                                                          </form>
                                                                                        </div>
                                                                                        <button class="input-group-text rounded btn-danger d-none" id="removecupon">
                                                                                            <i class="feather icon-x-circle mr-2"></i> Remove Coupon
                                                                                          </button>
                                                                                     

                                                                                        <% } else { %>
                                                                                     

                                                                                                <button class="input-group-text rounded btn-danger " id="removecupon">
                                                                                                    <i class="feather icon-x-circle mr-2"></i> Remove Coupon
                                                                                                  </button>
                                                                                            
                                                                                         
                                                                                        <% } %>
                                                                                </div>
                                                                               
                                                                                <% if(cart){ %>
                                                                                  
                                                                                    <div class="form-group">
                                                                                        <label for="specialNotes">Special Note for this order:</label>
                                                                                        <textarea type="text" class="form-control" name="specialNotes" id="specialNotes" rows="3" placeholder="Message here" value="<%=cart.cartNote%>"></textarea>
                                                                                    </div>
                                                                               <% }else{ %>
                                                                                
                                                                                    <div class="form-group">
                                                                                        <label for="specialNotes">Special Note for this order:</label>
                                                                                        <textarea type="text" class="form-control" name="specialNotes" id="specialNotes" rows="3" placeholder="Message here" ></textarea>
                                                                                    </div>
                                                                              <% } %>
                                                                               
                                                                            </form>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-12 order-1 order-lg-2 col-lg-7 col-xl-6">
                                                                        <div class="order-total table-responsive ">
                                                                            <table class="table table-borderless text-right">
                                                                                <tbody id="Cart_total">
                                                                                    <% if(cart){ %>
                                                                                       
                                                                                            <tr>
                                                                                                <td>Sub Total :</td>
                                                                                                <td><%=cart.SubTotal %> <%=footer.Currency%></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Product discount :</td>
                                                                                                <td><%=cart.Productdiscount %> <%=footer.Currency%></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Coupon discount :</td>
                                                                                                <td id="discountcopon"><%=cart.Coupondiscount %> <%=footer.Currency%></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td>Tax :</td>
                                                                                                <td><%=cart.Tax %> <%=footer.Currency%></td>
                                                                                            </tr>
                                                                                            <tr>
                                                                                                <td class="f-w-7 font-18"><h4>Amount :</h4></td>
                                                                                                <td class="f-w-7 font-18"><h4><%=cart.Amount %> <%=footer.Currency%></h4></td>
                                                                                            </tr>
        
                                                                                        
                                                                                    <% }else{ %>

                                                                                        <tr>
                                                                                            <td>Sub Total :</td>
                                                                                            <td>0 <%=footer?.Currency%></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Product discount :</td>
                                                                                            <td>0 <%=footer?.Currency%></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Coupon discount :</td>
                                                                                            <td>0 <%=footer?.Currency%></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td>Tax :</td>
                                                                                            <td>0 <%=footer?.Currency%></td>
                                                                                        </tr>
                                                                                        <tr>
                                                                                            <td class="f-w-7 font-18"><h4>Amount :</h4></td>
                                                                                            <td class="f-w-7 font-18"><h4>0 <%=footer?.Currency%></h4></td>
                                                                                        </tr>


                                                                                   <% } %>
                                                                                    
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="cart-footer text-right">
                                                                <a href="/user/delet" type="button" class="btn btn-rounded btn-danger my-1"><i class="feather icon-x-circle mr-2"></i>Clear Cart </a>
                                                                <button class="btn btn-rounded btn-success my-1" onclick="makPayment()">Proceed to Checkout<i class="feather icon-arrow-right ml-2"></i></button>
                                                            </div>
                                                        
                                                    </div>
                                                </div>
                                                    
                                               

                                                
                                            </div>
                                            <!-- card body end -->
                                            

                                        </div>
                                        <!-- card header End-->


                                        </div>

                                    </div>

                                </div>
                                 <!-- cart area end -->
                             </div>
                             <!--start row end -->
     
                        </div>   
                        <!-- End Contentbar -->
                        <!-- Start Footerbar -->
                        <%- include('./onestep/footerbar')-%>
                        <!-- end Footerbar -->
                        <!-- Payment model start -->

                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content" id="paymentmodal">
                                   
                                      
                                </div>
                            </div>
                        </div>
                        <!-- Payment model End -->
            </div>
            <!-- Start Rightbar -->  
           
    </div>
    <!-- end Containerbar -->
   
    <!-- start Toastr -->
    <%- include('./onestep/toastr')-%>
    <!-- End Toastr -->
    
    <!-- start JS -->
    
    <%- include('./onestep/script')-%>
 
    <script>
          const form = document.getElementById('customer-form');
        const input = document.getElementById('search-input');
        const results = document.getElementById('results-list');
        const items = Array.from(results.getElementsByTagName('li'));
        const hiddenInput = document.getElementById('cust'); 
      
        function showList() {
          results.classList.remove('d-none');
          showAllItems();
        }
      
        function search() {
          const query = input.value.toLowerCase();
          results.classList.remove('d-none');
      
          let anyVisible = false;
      
          items.forEach(item => {
            const text = item.textContent.toLowerCase();
            const match = text.includes(query);
            item.style.display = match ? 'block' : 'none';
            if (match) anyVisible = true;
          });
      
          const noResultItem = results.querySelector('.no-result');
                    if (noResultItem) {
                        results.removeChild(noResultItem);
                    }

                    if (!anyVisible) {
                        const li = document.createElement('li');
                        li.textContent = `${query} is Not found`;
                        li.className = 'no-result text-danger';
                        results.appendChild(li);
                    }
        }
      
        function showAllItems() {
          items.forEach(item => item.style.display = 'block');
        }
      
         items.forEach(item => {
          item.addEventListener('click', () => {
            input.value = item.textContent;
            hiddenInput.value = item.getAttribute('value'); 
            results.classList.add('d-none');

       
      fetch('/user/userId', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify({ userId: hiddenInput.value })
      })
      .then(res => res.json())
      .then(data => {
        const currentCusmElem = document.getElementById('curr_cusmer');
       if (currentCusmElem && data.coust_name) {
             currentCusmElem.innerHTML = `Current Customer <br><span class="text-lg-center text-info">${data.coust_name}</span>`;
           }
      })
      .catch(err => console.error('Error:', err));
          });
        });
       
        document.addEventListener('click', (event) => {
          const isClickInside = input.contains(event.target) || results.contains(event.target);
          if (!isClickInside) {
            results.classList.add('d-none');
          }
        });
      </script>


</body>
</html>

