<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta and links start -->
    <%- include('./onestep/meta & links')-%> 
    <link href="/assets/plugins/animate/animate.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/assets/css/font-awesome-all.min.css">
    
    <!-- meta and links end -->
     
</head>
<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar">
            <!-- Start Leftbar -->
            <%- include('./onestep/Leftbar')-%> 
            <!-- End Leftbar -->

            <!-- Start Rightbar -->
            <div class="rightbar">
                        <!-- Start Topbar -->
                        <%- include('./onestep/Topbar')-%>
                        <!-- End Topbar -->


                        <!-- Start Breadcrumbbar -->                    
                        <div class="breadcrumbbar">
                            <div class="row align-items-center">
                                <div class="col-md-12 col-lg-8">
                                    
                                    <div class="breadcrumb-list">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/supplier/list">Supplier</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Supplier Detail</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>          
                        </div>
                        <!-- End Breadcrumbbar -->


                        <!-- Start Contentbar -->    
                        <div class="contentbar">  
                              
                            <!-- Start row -->            
                            <div class="row">
                                <!-- Start col -->
                                <div class="col-lg-12">
                                    <div class="card m-b-30">
                                    <div class="card-header">
                                        <div class="card m-b-5">
                                            <h3><%=data.suppName%></h3>
                                        </div>
                                        <div class="nav">
                                            <ul class="nav nav-tabs page-header-tabs shadow-sm">
                                                <li class="nav-item">
                                                  <a class="nav-link" href="/supplier/views/<%=data._id%>">Detail</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link " href="/supplier/product/<%=data._id%>">Product List</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="/supplier/transection/<%=data._id%>">Transaction</a>
                                                </li>
                                                <li class="nav-item">
                                                    <a class="nav-link active" href="/supplier/OrderList/<%=data._id%>">Order List</a>
                                                  </li>
                                              </ul>
                                        </div>    
                                    </div>
                                </div>
                                </div>
                                <!-- End col -->
                            </div>
                            <!-- End row --> 

                            <!-- Start row -->
                            <div class="row">
                                 <!-- Start col -->
                                <div class="col-lg-12">
                                    <div class="card m-b-10 ">
                                        <div class="card-header">
                                            <h3>Product List</h3>
                                        </div>
                                    
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table id="default-datatable" class="display table  table-bordered">
                                                    <thead>
                                                        <tr class="text-center">
                                                            <th>DATE</th>
                                                            <th> PRODUCT NAME</th>
                                                            <th> PRODUCT QUANTITY</th>
                                                            <th> PRODUCT PRICE</th>
                                                            <th> TOTAL AMOUNT</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody class="justify-content-center">
                                                        <% var i = 1 %>
                                                        <% data.orderList.forEach((pro)=>{ %>
                                                            <tr class="text-center">
                                                                <% if (accessdata.data.symbol_placement == 1) { %>

                                                                    <td><%=pro.date.toLocaleDateString('fr-CA', { year: 'numeric', month: '2-digit', day: '2-digit' })%></td>
                                                                    <td><%=pro.productName%></td>
                                                                    <td><%=pro.productQuntity%></td>
                                                                    <td><%=pro.productPrice%> <%=accessdata.data.Currency%></td>
                                                                    <td><%=pro.totalAmount%> <%=accessdata.data.Currency%></td>
                                                                    
                                                                <% } else { %>

                                                                    <td><%=pro.date.toLocaleDateString('fr-CA', { year: 'numeric', month: '2-digit', day: '2-digit' })%></td>
                                                                    <td><%=pro.productName%></td>
                                                                    <td><%=pro.productQuntity%></td>
                                                                    <td><%=accessdata.data.Currency%> <%=pro.productPrice%></td>
                                                                    <td><%=accessdata.data.Currency%> <%=pro.totalAmount%></td>
                                                                <% } %>
                                                            </tr>
                                                        <% i++ %>
                                                        <% }) %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>

                                    </div>
                                </div>
   
                            </div>  
                        </div>
                        <!-- End Contentbar -->
                         <!-- Modal -->
                         <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog " role="document">
                                <div class="modal-content" id="modelsho">
                                    
                                </div>
                            </div>
                        </div>
                       


                        <!-- Start Footerbar -->
                        <%- include('./onestep/footerbar')-%>
                        <!-- end Footerbar -->
            </div>
            <!-- Start Rightbar -->  
           
    </div>
    <!-- end Containerbar -->
   
    <!-- start Toastr -->
    <%- include('./onestep/toastr')-%>
    <!-- End Toastr -->
    
    <!-- start JS -->
    <%- include('./onestep/script')-%>
    <script src="/assets/js/custom/custom-model.js"></script>
    <script src="/assets/js/custom/custom-supplier-order.js"></script>
    <!-- end JS -->
   
  
</body>
</html>

