<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta and links start -->
    <%- include('./onestep/meta & links')-%> 
    
    
    <!-- meta and links end -->
     
</head>
<body class="vertical-layout">
    <!-- Start Containerbar -->
    <div id="containerbar">
            <!-- Start Leftbar -->
            <%- include('./onestep/Leftbar')-%> 
            <!-- End Leftbar -->

            <!-- Start Rightbar -->
            <div class="rightbar">
                        <!-- Start Topbar -->
                        <%- include('./onestep/Topbar')-%>
                        <!-- End Topbar -->


                        <!-- Start Breadcrumbbar -->                    
                        <div class="breadcrumbbar">
                            <div class="row align-items-center">
                                <div class="col-md-12 col-lg-8">
                                    <h5 class="page-title">PRODUCT</h5>
                                    <div class="breadcrumb-list">
                                        <ol class="breadcrumb">
                                            <li class="breadcrumb-item"><a href="/admin">Home</a></li>
                                            <li class="breadcrumb-item"><a href="/product/list">Product</a></li>
                                            <li class="breadcrumb-item active" aria-current="page">Update Product</li>
                                        </ol>
                                    </div>
                                </div>
                            </div>          
                        </div>
                        <!-- End Breadcrumbbar -->


                        <!-- Start Contentbar -->    
                        <div class="contentbar">  
                             <!-- Start row -->
                             <div class="row">
                                <!-- Start col -->
                                <div class="col-lg-12">
                                    <div class="card m-b-30">
                                        <div class="card-header">                                
                                            
                                                <h3 class="card-title mb-0">UPDATE PRODUCT</h3>
                                                
                                            
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-lg-12 ">
                                                    <form method="post" action="/product/updateproduct/<%=pro._id%>" enctype="multipart/form-data" >
                                                        <div class="row">
                                                            <div class="col-6 ">
                                                                <div class="form-group">
                                                                    <label for="proName">Product Name</label>
                                                                    <input type="text" class="form-control border-secondary" id="proName" name="Name"  value="<%=pro.Name%>">
                                                                </div>
                                                                <div class="form-group">
                                                                    <label for="sprice">Selling price </label>
                                                                    <input type="number" class="form-control border-secondary" id="sprice" name="sellingPrice"  value="<%=pro.sellingPrice%>">
                                                                </div>

                                                                
                                                                <div class="form-group">
                                                                    <label for="brand">Brand</label>
                                                                    <select name="brand" id="brand" class="form-control border-secondary">
                                                                        <option >Select Brand</option>
                                                                       <% brand.forEach(function(data){ %>
                                                                        <option <%= pro.brand == data.brandName ? "selected" : '' %>><%=data.brandName%></option>
                                                                       <% }) %>
                                
                                                                    </select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="quntity">Quantity </label>
                                                                    <input type="number" class="form-control border-secondary" id="quntity" name="quantity"  min="0" value="<%=pro.quantity%>">
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="utype">Unit type</label>
                                                                    <select name="unitType" id="utype" class="form-control border-secondary">
                                                                        <option >Select Unit</option>
                                                                        <% unit.forEach(function(data){ %>
                                                                            <option <%= pro.unitType == data.unit ? "selected" : '' %>><%=data.unit%></option>
                                                                           <% }) %>
                                
                                                                    </select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="uvalue">Unit value </label>
                                                                    <input type="number" class="form-control border-secondary" id="uvalue" name="unitValue" min="0" value="<%=pro.unitValue%>">
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="procat">Category </label>
                                                                    <select name="category" id="procat" class="form-control border-secondary">
                                                                        <option >Select Category</option>
                                                                        <% category.forEach(function(data){ %>
                                                                            <option <%= pro.category == data.catName ? "selected" : '' %>><%=data.catName%></option>
                                                                           <% }) %>
                                
                                                                    </select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="prosubcat">Sub category </label>
                                                                    <select name="SubCategory" id="prosubcat" class="form-control border-secondary">
                                                                        <option value="pro.SubCategory" selected><%=pro.SubCategory%></option>
                                                                        
                                
                                                                    </select>
                                                                </div>
                                                            </div>
                                                            <div class="col-6">
                                                                <div class="row">
                                                                    <div class="col-9">
                                                                        <div class="form-group">
                                                                            <label for="ccode">Product Code<span> (8 charector required)</span></label>
                                                                            <input type="text" class="form-control border-secondary" id="ccode" name="proCode" maxlength="8" minlength="8" oninput="this.value = this.value.toUpperCase()" value="<%=pro.proCode%>">
                                                                            
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-3 m-t-30">
                                                                        <div class="form-group">
                                                                            <button class="btn btn-primary" id="gen_code"><i class="fa fa-refresh" aria-hidden="true" ></i> Generate code</button>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label for="pprice">Purchase price </label>
                                                                    <input type="number" class="form-control border-secondary" id="pprice" name="purchasePrice" min="0" value="<%=pro.purchasePrice%>">
                                                                </div>
                                                            
                                                                <div class="form-group">
                                                                    <label for="distype">Discount type</label>
                                                                    <select name="discountType" id="distype" class="form-control border-secondary">
                                                                        <option value="percent" <%= pro.discountType == "percent" ? "selected" : '' %>>percent (%)</option>
                                                                        <option value="Amount" <%= pro.discountType == "Amount" ? "selected" : '' %>> Amount</option>
                                                                        
                                
                                                                    </select>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label id="distyp" for="disc">Discount<%=pro.discountType%></label>
                                                                    <input type="number" class="form-control border-secondary" id="disc" name="discount" min="0" value="<%=pro.discount%>">
                                                                </div>

                                                                
 
                                                                <div class="row">
                                                                    <div class="col-6">
                                                                        <div class="form-group">
                                                                            <label for="tax">Tax in percent (%)</label>
                                                                            <input type="number" class="form-control border-secondary" id="tax" name="tax"  value="<%=pro.tax%>">
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label for="supp">Select supplier</label>
                                                                            <select name="supplier" id="supp" class="form-control border-secondary">
                                                                                <option >select supplier</option>
                                                                                <% supp.forEach(function(data){ %>
                                                                                    <option <%= pro.supplier == data.suppName ? "selected" : '' %>><%=data.suppName%></option>
                                                                                   <% }) %>
                                                                                
                                        
                                                                            </select>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label for="proimg">Product Image</label>
                                                                            <input type="file" class="form-control border-secondary" id="proimg" name="proimg" accept='image/*' onchange="document.getElementById('catdemoimg').src = window.URL.createObjectURL(this.files[0])" >
                                                                        </div>
                                                                        <div class="form-group m-t-45">
                                                                            <button class="btn btn-success btn-block " type="submit" value="submit"><i class="dripicons-checkmark"></i> Save</button>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-6">
                                                                        <div class="img align-items-center ">
                                                                       
                                                                            <div class="col-lg-12  ">
                                                                               <center>
                                                                                <img id="catdemoimg" alt="your image" width="200" height="250" src="/uploads/resized/<%=pro.productImage%>"/>
                                                                                <h5>Image Preview </h5>
                                                                               </center>
                                                                                
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                                
                                                                
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                               
                                                
                                            </div>
                                            
                                        </div>
                                    </div>            
                                </div>
                                <!-- End col --> 
                            </div>
                            <!-- End row -->  
                            
                        </div>
                        <!-- End Contentbar -->
                       


                        <!-- Start Footerbar -->
                        <%- include('./onestep/footerbar')-%>
                        <!-- end Footerbar -->
            </div>
            <!-- Start Rightbar -->  
           
    </div>
    <!-- end Containerbar -->
   
    <!-- start Toastr -->
    <%- include('./onestep/toastr')-%>
    <!-- End Toastr -->
    
    <!-- start JS -->
    <%- include('./onestep/script')-%>
    <!-- end JS -->
   
  
</body>
</html>


